oops

class

In [4]:
class Student:
    pass

In [ ]:
class Person:  #frist letter of class should be capital
   name = "ANUBHUTI" 
   age = 19

In [2]:
obj = Person()

In [5]:
print(obj.name)
print(obj.age)

ANUBHUTI
19

In [1]:
class Bank:
    name = "anu"
    age = 20
    address = "dehli"
    pincode = 110001
    mobile = 99999999999
    balance = 10000
bank_obj = Bank() #object

In [2]:
print("bank name:-",bank_obj.name)
print("bank age:-",bank_obj.age)
print("bank address:-",bank_obj.address)
print("bank pincode:-",bank_obj.pincode)
print("bank mobile:-",bank_obj.mobile)
print("bank balance:-",bank_obj.balance)

bank name:- anu
bank age:- 20
bank address:- dehli
bank pincode:- 110001
bank mobile:- 99999999999
bank balance:- 10000

In [ ]:
class Bank:
    name = "anu"
    age ="20"
    address = "dehli"
    pincode = 110001
    mobile = 99999999999
    balance = 10000
    
    def show_info(self):
        print(self.name)
        print(self.age)
        print(self.address)
        print(self.balance)
        print(self.mobile)
bank_obj = Bank()

In [6]:
bank_obj.show_info()

anu
20
dehli
10000
99999999999

constructor

In [ ]:
class Bank:
    mera_name="anu"    #class variable
    def __init__(self):   #create constructor
        self.name="anu"  #instane variable
        self.age=20
bank_obj=Bank()

In [7]:
print(bank_obj.name)
print(bank_obj.age)

anu
20

In [8]:
class Bank:
    mera_name = "anu"
    def __init__(self,name,address,pincode,balance):
        self.name = name
        self.address = address
        self.pincode = pincode
        self.balance = balance
obj_bank1 = Bank(name ="anu",address = "delhi", pincode =110001,balance = 10000)

In [10]:
obj_bank1.name

'anu'

In [11]:
obj_bank1.address

'delhi'

In [12]:
kapil_bank=Bank(name="kapil",address="delhi",pincode=235,balance=20000)

In [13]:
kapil_bank.name

'kapil'