function in python

In [1]:
def fun_name():
    #code
    pass
fun_name()

In [2]:
def temp():
    print("hello world")

In [4]:
temp()

hello world

In [18]:
def demo(name):
    print(f"hello {name} ")

In [19]:
demo(name = "vikram")

hello vikram

In [22]:
demo("anu")

hello anu

In [20]:
def mul_table(num1,num2):
    print(num1*num2)

In [21]:
mul_table(2,3)

6

In [7]:
def add (a,b):
    return a+b

In [8]:
result = add(a = 2 , b = 3)

In [17]:
print(result)

5

In [9]:
def greet(name = "Guest "):
    print(f"hello {name}")
greet()

hello Guest

In [16]:
greet(name="ravi")

hello ravi

lambda function

In [12]:
#lambda args : expression

lambda a , b : a+b
print(add(2,3))
print(add(2,4))
print(add(2,6))
print(add(8,3))

5
6
8
11

In [15]:
squ = lambda a : a*a
print(squ(3))
print(squ(4))
print(squ(6))

9
16
36